.about {
    margin-bottom: 50px;
}

.about__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    gap: 80px;
}

.about__photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 20px 0 rgb(12, 3, 51, 0.5);
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
    cursor: pointer;
}

.about__text {
    line-height: 30px;
}
