.header {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 66, 82, 0.1);
  backdrop-filter: blur(50px);
  margin: 0 auto;
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.header__contacts {
  display: flex;
  position: static;
  right: 0;
  padding: 15px;
  color: #ffffff;
  margin-top: 30px;
  opacity: 1;
  transform: translateY(-20px);
  /* Измените по необходимости */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.header__contacts.show {
  opacity: 1;
  transform: translateY(0);
}

.header__contacts.hide {
  opacity: 0;
  transform: translateY(-20px); /* Должен совпадать с начальным значением */
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contacts__head {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 7px;
}

.contacts__head_social {
  margin-bottom: 12px;
}

.contacts__link {
  font-weight: 400;
  font-size: 16px;
}

.header__contacts-burger {
  display: none;
  width: 27px;
  height: 14px;
  background-image: url("../public/menu.svg");
}

.header__contacts-burger-close {
  display: none;
  width: 14px;
  height: 14px;
  margin: 20px;
  background-image: url("../public/close.svg");
}

.show {
  display: flex;
}

@media (max-width: 480px) {
  .header__contacts {
    margin-top: 10px;
    opacity: 0;
  }

  .header__contacts-burger {
    display: block;
    margin: 20px;
  }

  .contacts__head {
    font-size: 14px;
  }

  .contacts__link {
    font-size: 12px;
  }
}